<p>
    <%= content_tag(:label, l(:statuses)) %>
    <%
      selected_statuses = Setting.plugin_redmine_whining[:statuses] ? Setting.plugin_redmine_whining[:statuses].collect { |x| Integer(x)} : []
    %>
    <%= select_tag("settings[statuses]", options_from_collection_for_select(IssueStatus.find(:all, :conditions => { :is_closed => 0 }), :id, :name, selected_statuses), :multiple => true) %>
</p>

<p>
    <%= content_tag(:label, l(:trackers)) %>
    <%
      selected_trackers = Setting.plugin_redmine_whining[:trackers] ? Setting.plugin_redmine_whining[:trackers].collect { |x| Integer(x)} : []
    %>
    <%= select_tag("settings[trackers]", options_from_collection_for_select(Tracker.all, :id, :name, selected_trackers), :multiple => true) %>
</p>

<fieldset>
    <legend><%= l(:whining_whine_when) %></legend>

    <% IssuePriority.find(:all, :order => "position").each do |prio| %>
        <p>
            <%= content_tag(:label, prio.name) %>
            <%
                sym = "delay_#{prio.id}".intern
                val = Setting.plugin_redmine_whining[sym] ?  Setting.plugin_redmine_whining[sym] : Setting.plugin_redmine_whining[:delay_default]
            %>
            <%= text_field_tag("settings[delay_#{prio.id}]", val) %>
            <%= l(:days) %>
        </p>
    <% end %>
    <hr/>
    <p>
        <%= content_tag(:label, l(:default)) %>
        <%= text_field_tag("settings[delay_default]", Setting.plugin_redmine_whining[:delay_default]) %>
        <%= l(:days) %>
    </p>
</fieldset>
